.skill {
  margin: 50px;
  margin-bottom: 150px;
  color: var(--light);
}

.skill-heder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.skill-back {
  position: absolute;
  text-transform: uppercase;
  font-size: 10em;
  font-weight: bold;
  color: var(--gray);
}
.skill-header-motto {
  z-index: 1000;
  font-size: 2.4em;
  font-weight: bold;
  margin-top: 20px;
}
.skill-header-motto span {
  /* background-color: var(--primary-color); */
  background: linear-gradient(90deg, #ff0000, rgba(255, 3, 3, 0.142));
  padding: 10px 15px;
}
.project-container {
  margin-top: 100px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 45%;
  gap: 10px !important;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}
.project-container::-webkit-scrollbar {
  display: none;
}
.snap-container {
  scroll-snap-type: line mandatory;
}
.snap-container > * {
  scroll-snap-align: start;
}
.project-card {
  width: 600px;
  background-color: #ff0000;
  margin-right: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 25px -2px rgba(255, 0, 0, 0.549);
}

.project-card img {
  inline-size: 100%;
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 100%;
  /* display: none; */
}
